.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.scrollable-content {
    min-height: 35vh;
    max-height: 100vh;
    overflow: auto;
}

.rooms {
    min-height: 35vh;
    overflow: auto;
}

.page-footer {
    padding-top: 0;
}

.page-footer .footer-copyright {
    min-height: 0;
}

.player {
    resize: both;
    overflow: auto;
    height: 56.25vh;
    width: 100vh;
    margin: auto;
}
